---
import { Icon } from "astro-icon";

import diffs from "../../../patches.json";
import Layout from "../../layouts/Layout.astro";
import DiffWithBackgroundHighlight from "../../components/diff-with-background-highlight.astro";

export const getStaticPaths = () =>
  Object.keys(diffs).map((date) => ({ params: { date } }));

const { date } = Astro.params;
---

<Layout title={`What's new in ${date} | Workers Types Diff`}>
  <p>Below is the change introduced in compatibility date {date}:</p>
  <div id="diff-container">
    <div>
      <DiffWithBackgroundHighlight code={(diffs as Record<string, string>)[date!]}/>
    </div>
    <button id="copy-to-clipboard">
      <Icon name="octicon:copy-24" height="24px"/>
    </button>
  </div>
</Layout>
<script>
  const button = document.querySelector("#copy-to-clipboard")!
  button.addEventListener("click", async () =>{
    const patch = document.querySelector<HTMLPreElement>("pre.astro-code");
    await navigator.clipboard.writeText(patch!.innerText);
  })
</script>
<style>
  #diff-container {
    display: grid;
    grid-template-columns: 1fr 32px;
    grid-template-rows: 32px 1fr;
  }
  #diff-container > div  {
    grid-area: 1 / 1 / 3 / 3;
  }
  #copy-to-clipboard {
    appearance: none;
    border: none;
    cursor: pointer;
  }
  #diff-container > #copy-to-clipboard {
    grid-area: 1 / 2 / 2/ 3;
    position: relative;
    top: 8px;
    background-color: inherit;
  }
  #diff-container:not(:hover) > #copy-to-clipboard {
    display: none;
  }
</style>
<style is:global>
  pre > code > span.line {
    display: inline-block;
    min-width: 100%;
  }
  .deletion {
    background-color: #ffebe9;
  }
  .addition {
    background-color: #e6ffec;
  }
</style>
