---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Workers Types Diff">
  <main>
    <h2>What is this website?</h2>
    <p>
      Workers Types Diff is the changelog of the TypeScript definitions for
      Cloudflare Workers, which are published as the <a
        href="https://www.npmjs.com/package/@cloudflare/workers-types"
        target="_blank"><code>@cloudflare/workers-types</code></a
      >
      package. You can choose a compatibility date in the navigation bar to easily
      see what were changed in each update.
    </p>
    <h2>Copyright notice</h2>
    <p>
      This website mainly consists of derivative works of MIT/Apache-2.0
      licensed IP owned by Cloudflare Workers DevProd Team. I (Yudai Nakata) am
      the copyright holder for the rest of the website unless otherwise noted.
    </p>
  </main>
</Layout>

<style>
  main {
    max-width: 80ch;
    line-height: 1.5;
  }
  code {
    font-size: 0.9em;
  }
</style>
